        html. body {
            height: 100%;
        }

        #wrap {
            min-height: 100%;
        }

        #main {
            overflow: auto;
            padding-bottom: 50px;
        }

        h1 {
    		color: rgb(2, 132, 130);
    	}
    	h2 {
    		color: #ffd700;
    	}
    	.board {
    		height: 80%;
    		width: 50%;
    		display: inline-block;

    	}
    	.card {
    		background-color: #ffff00;
    		height: 200px;
    		width: 150px;
    		border-style: solid;
    		border-width: 1px;
    		border-color: rgb(0,0,0);
    		border-radius: 10px;
            float: left;
            margin: 0 15px 15px 0;
    	}

        .card img {
            max-height: 100%;
            max-width: 100%;
        }

        #name {
          color: #ff0000;  
        }

        nav {
            background-color: rgba(0,0,0,.3);
            height: 50px;
        }

        nav a {
            text-decoration: none;
            height: 3em;
            background-color: orange;
        }

        a:hover {
            background-color: red;
        }

        .clear {
            clear: both;
        }

        button {
            float: left;
            margin-bottom: 15px; 
            height: 45px;
            width: 175px;
            font-size: 12px;
            margin-left: 75px;
        }

        #boardWrapper {
            
        }

        footer {
            background-color: rgba(0,0,0,.3);
            text-align: center;
            margin-top: -50px;
            height: 50px;
            clear: both;
        }